*{
	box-sizing:border-box;
}
.nav {
	background-color:#b9522d;
	height:30px;	
	width:245px;
	list-style:none;
	margin-left:20px;
	padding:0;
}
.nav li{
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-align:center;
	width:70px;
	float:left;
}
.nav li .ultimo-elemento{
	margin-left:25px;
}
/*cor dos link */
.nav a{
	color:white;
}
/*indicando o primeiro li */
.nav .current{
	background-color:#A64A28;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
}
