/* usando position no modal para centralizar a div */
.notice{
	background-color:#fff;
	border:1px solid #000;
	height:130px;
	padding:10px;
	width:380px;
	/*centralizar o modal*/
	position:fixed;
	top:50%;
	left:50%;
	margin:-75px 0 0 -200px;
	/* tirando .notice por cima da pagina*/
	z-index:1;
}
/* propriedade overlay para aplicar uma background-color em toda a pagina*/
.overlay{
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
}
/*tirar o conteudo */
.notice, .overlay{display:none;}
/*estilizar o botão fechar */
.notice .close{
	background-color:#ff1a2d;
	color:#fff;
	padding:5px;
	position:absolute;
	right:-25px;
	top:-1px;
}
/* show-modal */
#show-modal{
	background-color:#ff1a2d;
	color:#fff;
	padding:5px;
	margin:50px auto;
	position:relative;
	top:20px;
	left:50px;
	text-decoration:none;
}
